<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>


<div class="form-group">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <button type="button" class="float-right btn btn-primary btn-small" routerLink="todo">Add</button>

  </div>
</div>
<div class="form-group">
  <div class="col-md-12 col-lg-12 col-sm-12">
  <table class="table table-hover table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
      <th>Task Name</th>
      <th>Action</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>Due Date</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemss | async">
        <td>{{item.taskname}}</td>
        <td>{{item.action}}</td>
        <td [ngClass]="{'text-info': item.status=='pending', 'text-success':item.status=='completed', 'text-warning':item.status=='failed' }"> {{item.status | capitalized}}</td>
        <td>{{item.startdate}}</td>
        <td>{{item.duedate}}</td>
        <td>
          <button (click)="update(item)" class="btn btn-sm btn-primary">Edit</button>
          <button (click)="delete(item)" class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
